//Margin Top Carousel Page
.archive, .category{
  .carousel{
    margin-top: 27px;
  }
}

/* Carousel Height */
.carousel-item{
  min-height: 570px;
  margin: 0;
  padding: 0;

  img{
    margin-bottom: -37px;
  }

}

/* Background Slide Color */
.persona01{
  background-color: $color-carousel1;
}
.persona02{
  background-color: $color-carousel2;
}
.persona03{
  background-color: $color-carousel3;
}

/* Persona picture frame - width / Position */
.persona{

  position: absolute;
  right: 15%;
  bottom: 169px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $color-normal-text;
  text-align: center;


  h3{
    margin-bottom: 0;
    padding-top: 6px;
    @include shadow(white);
    font-weight: bold;
    color: $food-title !important;
  }

  p{
    margin-bottom: 0;
    @include shadow(black);
  }
}

//Persona comments text
.persona-text{
  position: absolute;
  right: 15%;
  bottom: 13px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $color-normal-text;
  text-align: center;

  //Google Play Icon
  img{
    text-align: center;
    width: 130px;
    margin-top: -30px;
    transition: .5s;

    &:hover{
      @include animation-increase();
    }
  }
}

//Hidding comments in Mobile Size
.persona-text p{
  display: none;
}

//Persona Profile Picture
.persona img{
  margin-bottom: 5px;
  border-radius: 200px;
  width: 250px;
  @include image-shadow(black);
}

//Comment background Image
.d-block{
  margin: 0;
  padding: 0;
  width:100%;
  display: block;
  min-height: 570px;
  max-height: 650px;
  object-fit: cover;

  filter: opacity(35%);

}

//Stars Rating
.stars{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stars img{
  width: 20px;
  height: 20px;
  box-shadow: none;
}

//Comment Heading
h5{
  color: black;
  font-size: 2rem;
  font-weight: bold;
  @include shadow(white);
  font-style: italic;
}

//Comment Text
.carousel-caption p{
  color: white;
  @include shadow(black);
  font-size: 1.5rem;
}


@media screen and(min-width: 768px){
  //Persona Position
  .persona{
    bottom: 136px;
  }

  //Persona Comments Position
  .persona-text{
    bottom: 100px;

    h5{
      font-size: 2.4rem;
    }

    p{
      display: block;
      font-size: 1.5rem;
      margin-bottom: 0;
    }

    //Google Play Icon
    img{
      width: 130px;
      margin-top: 0;
    }

  }
}
@media screen and(min-width: 1000px){
  //Persona Position
  .persona{
    bottom: 136px;
  }

  //Persona Comments Position
  .persona-text{
    bottom: 125px;

    h5{
      font-size: 2.7rem;
    }

    //Showing Comment Text
    p{
      display: block;
      font-size: 1.7rem;
      margin-bottom: 0;
    }

  }

}
