.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-content{
	margin-top: 0 !important;

	img{
		width: 100%;
		margin: 0;
	}
}
.wp-caption{
	margin-top: 0 !important;
}
article{
	margin-bottom: 0 !important;
}

//hide form main page
.home, .blog{
	.contact-wrapper{
		display: none;
	}
}
