//hiding title
.archive, .category{
  .page-title{
    display: none;
  }
}

//Solution Title Poition
.solution-title{
  margin: 0 10px;
  margin-bottom: 17px;
  padding-top: 0px;

  text-align: center;
}
//Solution Cards Wrapper Frame
.solution{
  margin-bottom: 30px;
  width: 100%;
  padding: 0 2%;

  //Solution Card
  .solution-container{
    float:left;
    margin: 20px 20px;
    padding: 20px;
    width: 96%;
    height: 437px;

    text-align: center;

    border: 1px solid black;
    border-radius: 10px;

    @include image-shadow(gray);

    //Card Icon
    img{
      min-width: 80px;
      max-width: 250px;

    }
  }

  //Solution Arrow
  .arrow{
    margin-top: 15px;
    max-width: 50px;
    min-width: 30px;

    margin-left: auto;
    margin-right: auto;

    img{
      transform: rotate(90deg);
    }
  }
}

//Flex Browser Support
@supports (display:flex){
  .solution{
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    .solution-container{
      float: none;
      flex-shrink: 1;
      flex-grow: 1;
    }
    .arrow{
      flex-shrink: 1;
      flex-grow: 1;
    }
  }
}

@media screen and(min-width:500px) {
  .solution-title{
    padding-top: 0px;
  }
}
@media screen and(min-width:600px) {
  //Solution Title Position
  .solution-title{
    padding-top: 21px;
  }
}
@media screen and(min-width:800px){

  //Solution Cards Wrapper Frame
  .solution{

    //Solution Cards
    .solution-container{
      max-width: 300px;
      min-width: 170px;
      height: 468px;
    }
  }

  //Flex Browser Support
  @supports (display: flex){
    .solution{
      flex-direction: row;
    }
  }
  //Solution Title
  .solution-title{
    padding-top: 23px;
  }
  //Solution Arrow
  .arrow {
    padding-top: 230px;
    float: left;

    //Rorating Arrow
    img{
      transform: rotate(0deg) !important;
    }
  }
  //Flex Browser Support
  @supports(display: flex){
    .arrow{
      margin-top: 0;
      padding-top: 0;
      float: none;
    }
  }
}
