.team-members{
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  justify-content: center;
  align-items: flex-start;

  .team-members-frame{
    display: flex;
    // min-height: 380px;

    flex-basis: 200px;
    margin: 10px 20px;

    flex-direction: column;

    flex-grow: 0;
    flex-wrap: 0;
    justify-content: flex-start;
    align-items: center;
    h3{
      margin-top: 10px;
      margin-bottom: 0;
    }
    p{
      margin: 0;
      text-align: center;
    }

    img{
      border: 1px solid black;
      border-radius: 100px;
      box-shadow: 5px 5px $color-shadow;
    }
  }

}
